h1
{
    font-family: cursive;
    text-decoration: underline;
    text-decoration-color: red;

}
p
{
    font-size: 40px;
    background-color:antiquewhite;

}
p,pre
{
    border: 2px solid black;

}
#msg
{
    font-size: 30px;
    text-align: center;
    background-color: brown;
}